---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 19px;
  font-weight: 400;
  word-break: break-word;
  color: #161b3a;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 2;
  margin: 1.5em 0;
}